include README.rst
include CHANGES.rst
include update_cpp.sh

recursive-include crfsuite *
recursive-include liblbfgs *
recursive-include tests *.py
recursive-include pycrfsuite *.py *.pxd *.pyx *.cpp *.hpp
