include README.rst
include CHANGES.rst
include update_cpp.sh

recursive-include crfsuite *
recursive-include liblbfgs *
recursive-include tests *.py
recursive-include pycrfsuite *.py *.pxd *.pyx *.cpp *.hpp

exclude crfsuite/.git
exclude liblbfgs/.git
recursive-exclude crfsuite/swig *
recursive-exclude crfsuite/example *
recursive-exclude crfsuite/doc *
recursive-exclude liblbfgs/doc *
recursive-exclude crfsuite/sample *
